/* To do list */
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
.to-do-list h1{
  font-size: 4rem;
}
.to-do-list button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.to-do-list .add-button{
  background-color: hsl(130, 84%, 54%);
}
.to-do-list .add-button:hover{
  background-color: hsl(130, 84%, 44%);
}
.to-do-list .delete-button{
  background-color: hsl(0, 84%, 54%);
}
.to-do-list .delete-button:hover{
  background-color: hsl(0, 84%, 44%);
}
.to-do-list .move-button{
  background-color: hsl(189, 84%, 54%);
}
.to-do-list .move-button:hover{
  background-color: hsl(189, 84%, 44%);
}
.to-do-list input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 50%);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5)
}
.to-do-list ol{
  padding: 0;
}
.to-do-list li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.to-do-list .text{
  flex: 1;
}
.to-do-list .delete-button, .to-do-list .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
}