.button{
  background-color: rgb(73, 218, 205);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(66, 197, 186);
}

.button:active {
  background-color: rgb(66, 197, 186);
  transform: translateY(4px);
}